<div id="theme-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#theme-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#theme-carousel" data-slide-to="1"></li>
        <li data-target="#theme-carousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/FrontTheme/images/carousel1edited.png" alt="carousel1" style="width:100%" />
            <div class="carousel-caption">
                <h2>Send Multiple Sms Easily</h2>
            </div>
        </div>
        <div class="item">
            <img src="~/FrontTheme/images/smsBackgroundblck.fw.png" alt="carousel2" style="width:100%" />
            <div class="carousel-caption">
                @*<h2 >Mobile Friendly System</h2>*@
            </div>
        </div>
        <div class="item">
            <img src="~/FrontTheme/images/carousel3.jpg" alt="carousel3" style="width:100%">
            <div class="carousel-caption">
                <h2>System Support 24hours</h2>
            </div>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#theme-carousel" role="button" data-slide="prev">
        <div class="carousel-control-arrow">&#8249;</div>
    </a>
    <a class="right carousel-control" href="#theme-carousel" role="button" data-slide="next">
        <div class="carousel-control-arrow">&#8250;</div>
    </a>
</div>
