<div class="footerSite">
    <footer id="subfooter" class="clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p style="font-size:18px;"><span class="fa fa-envelope-o text-color:#fff"></span> NEWSLETTER</p>
                    <p>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter your email..." />
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">Subscribe</button>
                            </span>
                        </div>
                </div>
            </div>
        </div>
    </footer>
    <footer id="footer" class="clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p>No 5 Panyam Stree, St Theresa bustop , Jos, Plateau </p>
                    <p>+234 703-669-7340</p>
                    <p><a href="mailto:mail@example.com">support@fincoremesaging.com</a></p>
                </div>
                <div class="col-md-4">
                    <p>
                        <a class="fa fa-twitter footer-socialicon" target="_blank" href="https://twitter.com/"></a>
                        <a class="fa fa-facebook footer-socialicon" target="_blank" href="https://www.facebook.com/"></a>
                        <a class="fa fa-google-plus footer-socialicon" target="_blank" href="https://plus.google.com/"></a>
                        <a class="fa fa-linkedin footer-socialicon" target="_blank" href="https://plus.google.com/"></a>
                    </p>
                </div>
                <div class="col-md-4">
                    Silicon GateSoftare
                    <a href="http://www.silicongatessoftware.com" title="Silicon Gates Software">Silicon Gates Softaware</a></p>
                </div>
            </div>
        </div>
    </footer>

</div>
