<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.3.2
    </div>
    <strong>Copyrights | FinCore Messaging (FINMSG) |  &copy; @DateTime.Now.Year <a href="#">Silicon Gates Software</a>.</strong> All rights
    reserved.
</footer>