
@using EndToEnd.Extensions


<div>


    <h2>
        FinCore Messaging Welcomes you <b> @User.Identity.GetUserNameIdentifier()</b>.
    </h2>

    <h3> you have all functionalities of a bonafide STAFF of your company as you complete your registration </h3>

    <h3>Review our usage manual if your new to this sms platform. </h3>

</div>

