@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}

<div class="clearfix">
    @*<div id="googlemap"></div>*@
</div>
<div class="item">
    <img src="~/FrontTheme/images/hellotry2.fw.png" alt="Hello.... A liltle About Us" style="width: 100%;">
    <div class="carousel-caption">

    </div>
</div>
<div class="container-about">
    <div class="container">
        @*<div class="row">
            <div class="col-md-12 text-center">

                <hr width="70%" style="border-color:#3498db;">
            </div>
        </div>*@
        <div class="row">
            <div class="col-md-6 text-justify">
                <img src="~/FrontTheme/images/image1.jpg" class="img-responsive" />
            </div>
            <div class="col-md-6 text-justify">
                <h2>Global Business Information</h2>
                <p>
                    FINCOREMESSAGING aims to provide a standard platform to allow clients to quickly deploy any SMS service.
                    This includes Receive notifications by text or email for low balances, large transactions, account activity,
                    SMS alerts, SMS competitions, SMS voting, SMS information services,
                    SMS dating services, SMS marketing campaigns or SMS for Customer Relations Management.
                      </p>
                <br />
                <button class="button-more-blue btn-lg" type="button"><i class="fa fa-info" aria-hidden="true"></i>&nbsp; MORE INFO</button>
            </div>

        </div>
    </div>
</div>
@*
    <div class="container-about" style="background-image:url(~/FrontTheme/images/background-about.jpg);
    background-positon:50% 50%; background-attachment:fixed; background-repeat:no-repeat; background-size:cover;">
     <div class="container" style="background-color: #fff;">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 style="font-size:50px; color: #3498db; margin-top:50px; margin-bottom:20px;">Meet Our Team</h2>
                    <hr width="70%" style="border-color:#3498db;">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-justify">
                    <br />
                    <img src="~/FrontTheme/images/team1.jpg" class="img-responsive" style="margin:auto" />
                    <br />
                    <h2>Alisa</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
    alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum,
     you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                    <br />
                    <button class="button-more-blue btn-lg" type="button"><i class="fa fa-info" aria-hidden="true"></i>&nbsp; MORE INFO</button>
                    <br />
                    <br />
                </div>
                <div class="col-md-4 text-justify">
                    <br />
                    <img src="~/FrontTheme/images/team2.jpg" class="img-responsive" style="margin:auto" />
                    <br />
                    <h2>David</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,
    or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                    <br />
                    <button class="button-more-blue btn-lg" type="button"><i class="fa fa-info" aria-hidden="true"></i>&nbsp; MORE INFO</button>
                    <br />
                    <br />
                </div>
                <div class="col-md-4 text-justify">
                    <br />
                    <img src="~/FrontTheme/images/team3.jpg" class="img-responsive" style="margin:auto" />
                    <br />
                    <h2>Millie</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,
    or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum,
    you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                    <br />
                    <button class="button-more-blue btn-lg" type="button"><i class="fa fa-info" aria-hidden="true"></i>&nbsp; MORE INFO</button>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
*@