
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}

@Html.Partial("FrontPartials/_Carousel")

<div class="container-home"></div>

<div class="container-home" style="background-color: #333333;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center" style="color: #fff;">
                @*<i class="fa fa-graduation-cap fa-5x" aria-hidden="true" style="color: #3498db;"></i>*@
                <h2>Bulk Sms</h2>
                <hr width="70%">
                <br />
                <p class="text-justify">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                    1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                    electronic typesetting, remaining essentially unchanged.
                </p>
                <br />
                <button class="button-more-white btn-lg" type="button"><i class="fa fa-info" aria-hidden="true"></i>&nbsp; MORE INFO</button>
                <div class="visible-xs clearfix" style="height:40px;"></div>
            </div>
            <div class="col-md-4 text-center" style="color: #fff;">
                @*<i class="fa fa-" aria-hidden="true" style="color: #3498db;"></i>*@
                <h2>Easy Account Management</h2>
                <hr width="70%">
                <br />
                <p class="text-justify">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                    1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                    electronic typesetting, remaining essentially unchanged.
                </p>
                <br />
                <button class="button-more-white btn-lg" type="button"><i class="fa fa-info" aria-hidden="true"></i>&nbsp; MORE INFO</button>
                <div class="visible-xs clearfix" style="height:40px;"></div>
            </div>
            <div class="col-md-4 text-center" style="color: #fff;">
                @*<i class="fa fa-comment-o fa-5x" aria-hidden="true" style="color: #3498db;"></i>*@
                <h2>Online Support</h2>
                <hr width="70%">
                <br />
                <p class="text-justify">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                    1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                    electronic typesetting, remaining essentially unchanged.
                </p>
                <br />
                <button class="button-more-white btn-lg" type="button"><i class="fa fa-info" aria-hidden="true"></i>&nbsp; MORE INFO</button>
                <div class="visible-xs clearfix" style="height:40px;"></div>
            </div>
        </div>
    </div>
</div>
