@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}

@Html.Partial("FrontPartials/_Carousel")

<div class="container-home"></div>

<div class="container-home" style="background-color: #333333;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center" style="color: #fff;">
                @*<i class="fa fa-graduation-cap fa-5x" aria-hidden="true" style="color: #3498db;"></i>*@
                <h2>Bulk Sms</h2>
                <hr width="70%">
                <br />
                <p class="text-justify">
                    FINCORMESSAGING lets you send SMS text messages to a range of networks.
                    Send a text online to your staff and customers. Import contacts and manage lists all through you account.
                    You can choose to send directly from your PC, your web account, your phone, or even connect your systems application to our messaging server.

                    <br />

                </p>
                <br />
                <button class="button-more-white btn-lg" type="button"><i class="fa fa-info" aria-hidden="true"></i>&nbsp; MORE INFO</button>
                <div class="visible-xs clearfix" style="height:40px;"></div>
            </div>
            <div class="col-md-4 text-center" style="color: #fff;">
                @*<i class="fa fa-" aria-hidden="true" style="color: #3498db;"></i>*@
                <h2>Easy Account Management</h2>
                <hr width="70%">
                <br />
                <p class="text-justify">
                    FINCORMESSAGING has an Easy Accounting Management which enable users have a great Authentication mode
                    of login, free from fraud and compromise. Uses antiforgery security system to prevent SQL attacks.

                    The user control dashboard is very simple to use and understand

                </p>
                <br />
                <button class="button-more-white btn-lg" type="button"><i class="fa fa-info" aria-hidden="true"></i>&nbsp; MORE INFO</button>
                <div class="visible-xs clearfix" style="height:40px;"></div>
            </div>
            <div class="col-md-4 text-center" style="color: #fff;">
                @*<i class="fa fa-comment-o fa-5x" aria-hidden="true" style="color: #3498db;"></i>*@
                <h2>Online Support</h2>
                <hr width="70%">
                <br />
                <p class="text-justify">
                    FINCORMESSAGING has an affordable price that beats other SMS site plan with a seamless mode
                    of payment. It takes about 5-30mins to get your account credited with the amount you
                    paid when you use either cash deposit, funds Transfer to make payment for your bulk SMS.
                </p>
                <br />
                <button class="button-more-white btn-lg" type="button"><i class="fa fa-info" aria-hidden="true"></i>&nbsp; MORE INFO</button>
                <div class="visible-xs clearfix" style="height:40px;"></div>
            </div>
        </div>
    </div>
</div>
